extends layout

block content
  h1= article.title
  h5 Written by #{author}
  p= article.body
  hr

  if user && user.id === article.author.toString()
    a.btn.btn-default(href='/articles/edit/' + article._id) Edit
    // Add a delete form or button
    form(method='POST', action=`/articles/delete/${article._id}`)
      input.btn.btn-danger(type='submit', value='Delete Article')
